@model IEnumerable<Group> 

        @foreach (var group in Model)
        {
            <div>
                <h2>@group.Name.</h2>
                <h5>@group.Description</h5>

                <div>
                    @foreach (var user in group.SpendersUser)
                    {
                    <ul>
                        <li>@user.FirstName @user.LastName</li>
                    </ul>
                    }
                </div>
            </div>
        }
