@model Spenders.ViewModels.GroupDetailsViewModel

<button class="btn btn-info btn-sm border-dark" type="button" data-toggle="modal" data-target="#myModal">Add new Group!</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New group</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateGroup" role="form" method="post">
                    <h4>Candy order</h4>

                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label asp-for="Group.Name" class="col-md-2"></label>
                        <div class="col-md-5">
                            <input asp-for="Group.Name" class="form-control" />
                            <span asp-validation-for="Group.Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.Description" class="col-md-2"></label>
                        <div class="col-md-5">
                            <input asp-for="Group.Description" class="form-control" />
                            <span asp-validation-for="Group.Description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="Complete Order" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>