@*@model Spenders.ViewModels.GroupDetailsViewModel*@

<button class="btn btn-info btn-sm border-dark" type="button" data-toggle="modal" data-target="#myModal">Add new Group!</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h4 class="modal-title" align="center">Add new Group</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateGroup" role="form" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label class="col-md-2"> Name:</label>
                        <div class="col-md-6">
                            <input type="text" placeholder="add new group name.." name="groupName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Description:</label>
                        <div class="col-md-6">
                            <input type="text" placeholder="brief description.." name="groupDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="Create Group" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>